# SPDX-FileCopyrightText: None
# SPDX-License-Identifier: CC0-1.0

include:
  - project: sysadmin/ci-utilities
    file:
      - /gitlab-templates/reuse-lint.yml
      - /gitlab-templates/blocks/workflow.yml
      - /gitlab-templates/blocks/ci-linux-base.yml


cargo-build-test:
  extends: .ci_linux_base
  stage: build
  image: storage.kde.org/vm-images/suse-qt610
  tags:
    - VM
    - amd64
  variables:
    KDECI_PLATFORM_PATH: suse-qt6.10
  script:
    - git config --global --add safe.directory $CI_PROJECT_DIR
    - python3 -u ci-utilities/run-ci-build.py --project $CI_PROJECT_NAME --branch $CI_COMMIT_REF_NAME --platform Linux/Qt6/Shared --only-setup-environment
    - export CMAKE_PREFIX_PATH=$CI_PROJECT_DIR/_install
    - export LD_LIBRARY_PATH=$CI_PROJECT_DIR/_install/lib64
    - cargo build
    - cargo test --no-run
    - export LD_PRELOAD=/usr/lib64/libasan.so.8
    - export LSAN_OPTIONS=suppressions=lsan.supp
    - cargo test --no-fail-fast
    - unset LD_PRELOAD
    - cargo doc
  artifacts:
    expire_in: 7 days
    when: always
    paths:
      - target/doc
